<h2 i18n>Categories List</h2>
<button (click)="createCategory()" i18n>ADD</button>

<table>
  <thead>
    <tr>
      <th i18n>ID</th>
      <th i18n>TITLE</th>
      <th i18n>DESCRIPTION</th>
      <th i18n>CSS COLOR</th>
      <th i18n>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)" i18n>UPDATE</button>
        <button (click)="deleteCategory(category.categoryId)" i18n>DELETE</button>
      </td>
    </tr>
  </tbody>
</table>