<h2 i18n>Post List</h2>

<button (click)="createPost()" i18n>ADD</button>

<table>
    <thead>
        <tr>
            <th i18n>ID</th>
            <th i18n>TITLE</th>
            <th i18n>DESCRIPTION</th>
            <th i18n>NUM_LIKES</th>
            <th i18n>NUM_DISLIKES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{ post.postId }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.num_likes }}</td>
            <td>{{ post.num_dislikes }}</td>
            <td>
                <button (click)="updatePost(post.postId)" i18n>UPDATE</button>
                <button (click)="deletePost(post.postId)" i18n>DELETE</button>
            </td>
        </tr>
    </tbody>
</table>